name: Tests

on: push

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2.4.0
      with:
        node-version: '16.x'
    - run: npm install
    - run: npm test